* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: #ae0000;
  background-image: linear-gradient(0deg, #ae0000 0%, #ff5e5e 100%);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

header {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: black;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: 2px;
}

.nombre-trabajo {
  justify-content: center;
  margin: 0 auto;
  color: white;
}

main {
  max-height: 790px;
}

main.table {
  width: 82vw;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #fff5;

  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;

  overflow: hidden;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: 0.8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header .input-group {
  width: 35%;
  min-height: 100%;
  background-color: #fff5;
  padding: 0 0.8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

.table__header .input-group:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 0.1rem 0.4rem #0002;
}

.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

.table__header .input-group input {
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

#ttable {
  padding-left: 5%;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: 0.8rem auto;
  border-radius: 0.6rem;

  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: 0.2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: 0.2s ease-in-out 0.5s;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;

  text-align: center;
  font-size: 1rem;

  margin-left: 0.5rem;
  transition: 0.2s ease-in-out;
}

thead th:hover span.icon-arrow {
  border: 1.4px solid #a73737;
}

thead th:hover {
  color: #a73737;
}

thead th.active span.icon-arrow {
  background-color: #6c00bd;
  color: #fff;
}

thead th.asc span.icon-arrow {
  transform: rotate(180deg);
}

thead th.active,
tbody td.active {
  color: #6c00bd;
}

.agregar {
  position: relative;
}

.agregar .agregar-btn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: #fff6 url(images/mas.png) center / 80% no-repeat;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.agregar .agregar-btn:hover {
  background-color: #fff;
  transform: scale(1.15);
  cursor: pointer;
}

.agregar input {
  display: none;
}

.agregar .agregar-options {
  position: absolute;
  right: 0;

  width: 12rem;
  border-radius: 0.5rem;
  overflow: hidden;
  text-align: center;

  opacity: 0;
  transform: scale(0.8);
  transform-origin: top right;

  box-shadow: 0 0.2rem 0.5rem #0004;

  transition: 0.2s;
}

.agregar input:checked+.agregar-options {
  opacity: 1;
  transform: scale(1);
  z-index: 100;
}

.agregar .agregar-options label {
  display: block;
  width: 100%;
  padding: 0.6rem 0;
  background-color: #f2f2f2;

  display: flex;
  justify-content: space-around;
  align-items: center;

  transition: 0.2s ease-in-out;
}

.agregar .agregar-options label:first-of-type {
  padding: 1rem 0;
  background-color: #86e49d !important;
}

.agregar .agregar-options label:hover {
  transform: scale(1.05);
  background-color: #fff;
  cursor: pointer;
}

.agregar .agregar-options img {
  width: 2rem;
  height: auto;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #03f40f,
    0 0 25px #03f40f,
    0 0 50px #03f40f,
    0 0 100px #03f40f;
  box-shadow: 0 0 5px #03f40f,
    0 0 25px #03f40f,
    0 0 50px #03f40f,
    0 0 100px #03f40f;
}

.login-box a span {
  position: absolute;
  display: block;
}

@-webkit-keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#03f40f));
  background: linear-gradient(90deg, transparent, #03f40f);
  -webkit-animation: btn-anim1 2s linear infinite;
  animation: btn-anim1 2s linear infinite;
}

.div-modal {
  display: grid;
  position: fixed;
  width: 100%;
  height: 100dvh;
  padding-top: 80px;
  place-content: center;
  z-index: 100;
  background: #00000048;
  backdrop-filter: blur(3px);
}

.login-box {
  position: relative;
  transform: translate(0, 0);
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  display: flex;
  width: 350px;
  max-height: 580px;
  height: 90%;
  justify-content: center;
  align-items: center;
}

.login-box .close-modal-button {
  top: -3%;
  right: -3%;
  display: grid;
  place-content: center;
  position: absolute;
  width: 40px;
  font-size: 16px;
  aspect-ratio: 1/1;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px -4px 15px -5px #000;
}

form{
  position: relative;
}

form:nth-child(2) {
  margin-top: 30px;
}

.login-box.mostrar {
  background-color: black;
  z-index: 1;
  opacity: 0.9;
}

.login-box .modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 500px;
  padding: 50px;
  background-color: #fff;
  opacity: 1;
}

#ocultar-modal {
  translate: 0px -20px;
}

#ocultar-modal:hover {
  translate: 0px -30px;
  box-shadow: 0 0 40px 2px #d60101;
  background: #d60101;
}

#ocultar-modal span {
  background: #d60101;
}